main {
  display: grid;
  grid-template-columns: 80% 20%;
}

header {
  height: 35px;
  border-bottom: solid
}

section {
  height: 100%
}

aside {
  height: 100%
}

body {
  background: burlywood
}

.main {
  background: skyblue;
  margin: 30px;
  padding: 25px
}

.aside {
  background: #3d444630;
  margin: 30px 20px;
  padding: 15px
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 125px
}

article.comment {
  padding: 1cm;
  background-color: #0b0b0b1c;
}

.newform {
  background: whitesmoke;
  padding: 2cm;
}

.newform.creator {
  overflow-y: scroll;
  height: 250px;
}

a {
  color: black
}